// Styling for the masthead
header.masthead {
    // TIP: Background images are set within the HTML using inline CSS!
    margin-bottom: 50px;
    background: center;//no-repeat;
    background-color: $gray-600;
    background-attachment: scroll;
    position: relative;
    background-size: cover;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $gray-900;
        opacity: 0.5;
    }

    .page-heading,
    .post-heading,
    .site-heading {
        padding: 200px 0 150px;
        color: white;

        @media only screen and (min-width: 768px) {
            padding: 200px 0;
        }
    }

    .page-heading,
    .site-heading {
        text-align: center;

        h1 {
            font-size: 50px;
            margin-top: 0;
        }

        .subheading {
            font-size: 24px;
            font-weight: 300;
            line-height: 1.1;
            display: block;
            margin: 10px 0 0;
            font-family: $headings-font-family;
        }

        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 80px;
            }
        }
    }

    .post-heading {
        h1 {
            font-size: 35px;
        }

        .meta,
        .subheading {
            line-height: 1.1;
            display: block;
        }

        .subheading {
            font-size: 24px;
            font-weight: 600;
            margin: 10px 0 30px;
            font-family: $headings-font-family;
        }

        .meta {
            font-size: 20px;
            font-weight: 300;
            font-style: italic;
            font-family: $font-family-base;

            a {
                color: $white;
            }
        }

        @media only screen and (min-width: 768px) {
            h1 {
                font-size: 55px;
            }

            .subheading {
                font-size: 30px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .search-box{
        width: fit-content;
        height: fit-content;
        position: relative;
        font-size: 16px;
    }
    .input-search{
        height: 35px;
        width: 35px;
        border-style: none;
        padding: 0px;
        font-size: 15px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 80%;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 35px;
        color: black;
    }
    .input-search::placeholder{
        color:black;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 100;
    }
    .btn-search{
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 15px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: -3px;
        top: -7px;
        color: white ;
        background-color:transparent;
        pointer-events: painted;  
    }
    .btn-search:focus ~ .input-search{
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid black;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    .input-search:focus{
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid black;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    #results-container {
        margin-top: 10px;
    }

    #results-container a {
            color: black;
        }



    #navlogo{
        width: 35px;
        bottom: 12px;
        margin-left: 40%;
        position: absolute; 
        content: url('/img/helpers/AstroStuffLogo-TransperentBlack.png');
    }     


    header.masthead .page-heading .subheading, header.masthead .site-heading .subheading {
        font-size: 17px;
    }
}






@media (min-width: 992px) {


    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1500px;
    }

    #navlogo{
        width: 35px;
        bottom: 23px;
        margin-left: -34px;
        position: absolute; 
        content: url('/img/helpers/AstroStuffLogo-TransperentWhite.png');
    }   

    .search-box{
        width: fit-content;
        height: fit-content;
        position: relative;
        font-size: 16px;
    }
    .input-search{
        height: 35px;
        width: 35px;
        border-style: none;
        padding: 0px;
        font-size: 15px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 80%;
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -webkit-transition: -webkit-transition all .5s ease-in-out;
        background-color: transparent;
        padding-right: 35px;
        color: white;
    }
    .input-search::placeholder{
        color: white;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 100;
    }
    .btn-search{
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 15px;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        right: -3px;
        top: -7px;
        color: white ;
        background-color:transparent;
        pointer-events: painted;  
    }
    .btn-search:focus ~ .input-search{
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid white;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        -webkit-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        -webkit-transition: -webkit-transform all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }
    .input-search:focus{
        width: 300px;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid white;
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        -webkit-transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        -webkit-transition: -webkit-transform all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    }

    #results-container {
        margin-top: 10px;
    }

    #results-container a {
            color: white;
        }
}





$fuschia: cornflowerblue;
$button-bg: $fuschia;
$button-text-color: black;
$baby-blue: #f8faff;

.bubbly-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  width: 80%;
  margin-top: 0px;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: $button-text-color;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px cornflowerblue;
  border: 1px solid black;

  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
      radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, $button-bg 20%, transparent 30%),
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  //background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
  }
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, $button-bg 20%, transparent 20%), 
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, $button-bg 15%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%),
    radial-gradient(circle, $button-bg 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  //background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
 
  &:active{
    transform: scale(0.9);
    background-color: darken($button-bg, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
  
  &.animate{
    &:before{
      display: block;
      animation: topBubbles ease-in-out 0.75s forwards;
    }
    &:after{
      display: block;
      animation: bottomBubbles ease-in-out 0.75s forwards;
    }
  }
}


@keyframes topBubbles {
  0%{
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;}
 100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0%{
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;}
 100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
  background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

.photo-gallery, .photo-gallery li {
	list-style: none;
	padding: 0;
}

.photo-gallery li {
	display: inline-block;
	width: 33%;
}

.photo-gallery li img {
	width: 100%;
}

table{
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

details > p {
  margin-top: 10px;
  margin-left: 20px;
}